# S3 and Boto3

In [3]:
import boto3
import pandas as pd

In [2]:
access_key_id = ''
secret_access_key = ''
s3 = boto3.client('s3', aws_access_key_id=access_key_id, aws_secret_access_key=secret_access_key)

#### Example read 1 csv in bucket

In [6]:
bucket_name = 'YOUR_BUCKET'
file_name = 'YOUR_FOLDER/FILE.csv'
obj = s3.get_object(Bucket=bucket_name, Key=file_name)
df = pd.read_csv(obj['Body'])

In [5]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

#### Example read all csv in bucket

In [7]:
folder_path = 'YOURFOLDER/'
response = s3.list_objects_v2(Bucket=bucket_name, Prefix=folder_path)

# Iterate over the objects
for obj in response['Contents']:
    key = obj['Key']
    if key.endswith('.csv'):  # Filter CSV files
        # Read the CSV file from S3 into a pandas DataFrame
        obj = s3.get_object(Bucket=bucket_name, Key=key)
        df_bundle = pd.read_csv(obj['Body'])

In [8]:
df_bundle.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,248151,AA Batteries (4-pack),4,3.84,09/17/19 14:44,"380 North St, Los Angeles, CA 90001"
1,248152,USB-C Charging Cable,2,11.95,09/29/19 10:19,"511 8th St, Austin, TX 73301"
2,248153,USB-C Charging Cable,1,11.95,09/16/19 17:48,"151 Johnson St, Los Angeles, CA 90001"
3,248154,27in FHD Monitor,1,149.99,09/27/19 07:52,"355 Hickory St, Seattle, WA 98101"
4,248155,USB-C Charging Cable,1,11.95,09/01/19 19:03,"125 5th St, Atlanta, GA 30301"